ResimDuzenleme/Connected Services/SiparisServis/SiparisServis4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://misigo.com/Servis/SiparisServis.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/" />
  <xs:import schemaLocation="http://misigo.com/Servis/SiparisServis.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://misigo.com/Servis/SiparisServis.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Ticimax.BL" />
  <xs:element name="SelectSiparis">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="f" nillable="true" type="q1:WebSiparisFiltre" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="s" nillable="true" type="q2:WebSiparisSayfalama" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSiparisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SelectSiparisResult" nillable="true" type="q3:ArrayOfWebSiparis" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSiparisOdeme">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="siparisId" type="xs:int" />
        <xs:element minOccurs="0" name="odemeId" type="xs:int" />
        <xs:element minOccurs="0" name="isAktarildi" nillable="true" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSiparisOdemeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SelectSiparisOdemeResult" nillable="true" type="q4:ArrayOfWebSiparisOdeme" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCariOdeme">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="filtre" nillable="true" type="q5:WebSiparisOdemeFiltre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectCariOdemeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SelectCariOdemeResult" nillable="true" type="q6:ArrayOfWebSiparisOdeme" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSiparisUrun">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="siparisId" type="xs:int" />
        <xs:element minOccurs="0" name="iptalEdilmisUrunler" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSiparisUrunResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SelectSiparisUrunResult" nillable="true" type="q7:ArrayOfWebSiparisUrun" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSiparisKampanya">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="siparisId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSiparisKampanyaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SelectSiparisKampanyaResult" nillable="true" type="q8:ArrayOfWebSiparisKampanya" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSiparis">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="siparis" nillable="true" type="q9:WebSiparisSaveRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSiparisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SaveSiparisResult" nillable="true" type="q10:WebSiparisSaveResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSiparisAktarildi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="siparisId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSiparisAktarildiResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSiparisOdemeAktarildi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="siparisId" type="xs:int" />
        <xs:element minOccurs="0" name="odemeId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSiparisOdemeAktarildiResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSiparisAktarildiV2">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="siparisId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSiparisAktarildiV2Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetSiparisAktarildiV2Result" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSiparisAktarildiIptal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="siparisId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSiparisAktarildiIptalResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSiparisKargoyaVerildi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="siparisId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSiparisKargoyaVerildiResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSiparisTeslimEdildi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="siparisId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSiparisTeslimEdildiResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFaturaNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SiparisID" type="xs:int" />
        <xs:element minOccurs="0" name="FaturaNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="FaturaTarihi" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetFaturaNoResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSiparisOzelAlanlar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="request" nillable="true" type="q11:SetSiparisOzelAlanlarRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSiparisOzelAlanlarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="UpdateSiparisOzelAlanlarResult" nillable="true" type="q12:SetSiparisOzelAlanlarResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveKargoTakipNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="siparisId" type="xs:int" />
        <xs:element minOccurs="0" name="kargoKodu" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="kargoTakipNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="kargoTakipLink" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="BarkodBilgisi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="KargoTakipLinkGoster" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveKargoTakipNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveKargoTakipNoResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSepet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sepetId" type="xs:int" />
        <xs:element minOccurs="0" name="uyeId" type="xs:int" />
        <xs:element minOccurs="0" name="BaslangicTarihi" nillable="true" type="xs:dateTime" />
        <xs:element minOccurs="0" name="BitisTarihi" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSepetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SelectSepetResult" nillable="true" type="q13:ArrayOfWebSepet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HediyeCekiUygula">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="request" nillable="true" type="q14:WebHediyeCekiUygulaRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HediyeCekiUygulaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="HediyeCekiUygulaResult" nillable="true" type="q15:WebHediyeCekiUygulaResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HediyeCekiOlustur">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="request" nillable="true" type="q16:WebHediyeCekiOlusturRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HediyeCekiOlusturResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="HediyeCekiOlusturResult" nillable="true" type="q17:WebHediyeCekiOlusturResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetHediyeCekiKullanildi">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="request" nillable="true" type="q18:SetHediyeCekiKullanildiRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetHediyeCekiKullanildiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SetHediyeCekiKullanildiResult" nillable="true" type="q19:SetHediyeCekiKullanildiResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectHediyeCeki">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="memberCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="giftVoucherCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectHediyeCekiResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SelectHediyeCekiResult" nillable="true" type="q20:WebHediyeCekiResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSiparisDurum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="request" nillable="true" type="q21:SetSiparisDurumRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSiparisDurumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SetSiparisDurumResult" nillable="true" type="q22:SetSiparisDurumResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSiparisUrunDurum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="request" nillable="true" type="q23:SetSiparisUrunDurumRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSiparisUrunDurumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SetSiparisUrunDurumResult" nillable="true" type="q24:SetSiparisUrunDurumResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSiparisKargoPaket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SiparisID" type="xs:int" />
        <xs:element minOccurs="0" name="SiparisUrunDurumID" type="xs:int" />
        <xs:element minOccurs="0" name="KargoEntegrasyonID" type="xs:int" />
        <xs:element xmlns:q25="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Urunler" nillable="true" type="q25:ArrayOfint" />
        <xs:element minOccurs="0" name="KargoTakipNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="KontrolEtme" type="xs:boolean" />
        <xs:element minOccurs="0" name="MailGonder" type="xs:boolean" />
        <xs:element minOccurs="0" name="SmsGonder" type="xs:boolean" />
        <xs:element minOccurs="0" name="BarkodBilgisi" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="PaketID" type="xs:int" />
        <xs:element minOccurs="0" name="KargoTakipLink" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="KargoTakipLinkGoster" type="xs:boolean" />
        <xs:element minOccurs="0" name="marketPlaceParams" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSiparisKargoPaketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveSiparisKargoPaketResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SiparisPaketleKargoyaGonder">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="request" nillable="true" type="q26:SiparisiKargoyaGonderRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SiparisPaketleKargoyaGonderResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SiparisPaketleKargoyaGonderResult" nillable="true" type="q27:SiparisiKargoyaGonderResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSiparisUrunDurumlari">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SiparisUrunDurumID" type="xs:int" />
        <xs:element minOccurs="0" name="Islem" type="xs:int" />
        <xs:element minOccurs="0" name="Aktif" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSiparisUrunDurumlariResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SelectSiparisUrunDurumlariResult" nillable="true" type="q28:ArrayOfSiparisUrunDurumlari" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectUrunIadeNedenleri">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="Aktif" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectUrunIadeNedenleriResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SelectUrunIadeNedenleriResult" nillable="true" type="q29:UrunIdaneNedenleriResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSiparisKargoPaket">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="filtre" nillable="true" type="q30:WebSiparisKargoPaketFiltre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSiparisKargoPaketResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SelectSiparisKargoPaketResult" nillable="true" type="q31:ArrayOfWebKargoPaket" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSiparisKargoPaketKargoTakipNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="siparisId" type="xs:int" />
        <xs:element minOccurs="0" name="paketId" type="xs:int" />
        <xs:element minOccurs="0" name="kargoTakipNo" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="kargoTakipLink" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="KargoTakipLinkGoster" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSiparisKargoPaketKargoTakipNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SaveSiparisKargoPaketKargoTakipNoResult" nillable="true" type="q32:SaveSiparisKargoPaketKargoTakipNoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKargoSecenek">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="request" nillable="true" type="q33:GetKargoSecenekRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetKargoSecenekResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetKargoSecenekResult" nillable="true" type="q34:ArrayOfWebKargoFirma" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectWebSepet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="request" nillable="true" type="q35:SelectWebSepetRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectWebSepetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SelectWebSepetResult" nillable="true" type="q36:ArrayOfWebSepet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSepet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="request" nillable="true" type="q37:CreateSepetRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSepetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="CreateSepetResult" nillable="true" type="q38:ServisSepet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSepet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="request" nillable="true" type="q39:WebUpdateSepetRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSepetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="UpdateSepetResult" nillable="true" type="q40:WebUpdateSepetResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSepet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="request" nillable="true" type="q41:GetSepetRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSepetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetSepetResult" nillable="true" type="q42:ServisSepet" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOdemeTipleri">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOdemeTipleriResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetOdemeTipleriResult" nillable="true" type="q43:ArrayOfSiparisOdemeTipleri" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSepetKampanya">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="request" nillable="true" type="q44:SetSepetKampanyaRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSepetKampanyaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SetSepetKampanyaResult" nillable="true" type="q45:SetSepetKampanyaResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaketlemeDurumlari">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaketlemeDurumlariResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Ticimax.BL" minOccurs="0" name="GetPaketlemeDurumlariResult" nillable="true" type="q46:ArrayOfBLPaketlemeDurum" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMagazalar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="Filtre" nillable="true" type="q47:WebMagazaFiltre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMagazalarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="GetMagazalarResult" nillable="true" type="q48:ArrayOfWebMagaza" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMagaza">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="magazaList" nillable="true" type="q49:ArrayOfWebMagaza" />
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="ayar" nillable="true" type="q50:WebMagazaAyar" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMagazaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SaveMagazaResult" nillable="true" type="q51:WebSaveMagazaResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSiparisPaketlemeDurum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SiparisId" type="xs:int" />
        <xs:element minOccurs="0" name="PaketlemeDurumId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSiparisPaketlemeDurumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetSiparisPaketlemeDurumResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSiparisKargoFirmaId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="siparisId" type="xs:int" />
        <xs:element minOccurs="0" name="kargoFirmaId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSiparisKargoFirmaIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetSiparisKargoFirmaIdResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSiparisOdemeDurum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="request" nillable="true" type="q52:SetSiparisOdemeDurumRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSiparisOdemeDurumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SetSiparisOdemeDurumResult" nillable="true" type="q53:SetSiparisOdemeDurumResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectEFatura">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="request" nillable="true" type="q54:SelectEFaturaRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectEFaturaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SelectEFaturaResult" nillable="true" type="q55:SelectEFaturaResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEFatura">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="request" nillable="true" type="q56:SaveEFaturaRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveEFaturaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SaveEFaturaResult" nillable="true" type="q57:SaveEFaturaResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetEFaturaIptal">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="request" nillable="true" type="q58:EFaturaIptalRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetEFaturaIptalResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SetEFaturaIptalResult" nillable="true" type="q59:EFaturaIptalResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectIadeOdeme">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="filtre" nillable="true" type="q60:SelectIadeOdemeFiltre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectIadeOdemeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q61="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SelectIadeOdemeResult" nillable="true" type="q61:SelectIadeOdemeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBekleyenArama">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="request" nillable="true" type="q62:SaveBekleyenAramaRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveBekleyenAramaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SaveBekleyenAramaResult" nillable="true" type="q63:SaveBekleyenAramaResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectTelefonlaSiparis">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="filtre" nillable="true" type="q64:WebTelefonSiparisFiltre" />
        <xs:element xmlns:q65="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="sayfalama" nillable="true" type="q65:WebTelefonSiparisSayfalama" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectTelefonlaSiparisResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/Ticimax.BL" minOccurs="0" name="SelectTelefonlaSiparisResult" nillable="true" type="q66:ArrayOfBLTelefonSiparis" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTelefonlaSiparisDurum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="request" nillable="true" type="q67:UpdateTelefonlaSiparisDurumRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateTelefonlaSiparisDurumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="UpdateTelefonlaSiparisDurumResult" nillable="true" type="q68:UpdateTelefonlaSiparisDurumResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSiparisDurumlari">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSiparisDurumlariResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SelectSiparisDurumlariResult" nillable="true" type="q69:SelectSiparisDurumlariResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectOdemeTipleri">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectOdemeTipleriResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SelectOdemeTipleriResult" nillable="true" type="q70:SelectOdemeTipleriResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetReferansNo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="SiparisID" type="xs:int" />
        <xs:element minOccurs="0" name="ReferansNo" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetReferansNoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SetReferansNoResult" nillable="true" type="q71:SetReferansNoResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSiparisDurumListe">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="request" nillable="true" type="q72:ArrayOfSetSiparisDurumRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSiparisDurumListeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SetSiparisDurumListeResult" nillable="true" type="q73:SetSiparisDurumListeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSiparisDurum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="request" nillable="true" type="q74:SelectSiparisDurumRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSiparisDurumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SelectSiparisDurumResult" nillable="true" type="q75:SelectSiparisDurumResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSiparisDurumLog">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="filtre" nillable="true" type="q76:WebSiparisDurumLogFiltre" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SelectSiparisDurumLogResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SelectSiparisDurumLogResult" nillable="true" type="q77:SelectSiparisDurumLogListResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEFatura">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="request" nillable="true" type="q78:UpdateEfaturaRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateEFaturaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="UpdateEFaturaResult" nillable="true" type="q79:UpdateEfaturaResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveIadeOdeme">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="request" nillable="true" type="q80:IadeOdemeRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveIadeOdemeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SaveIadeOdemeResult" nillable="true" type="q81:IadeOdemeResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SiparisAnonimlestir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="request" nillable="true" type="q82:SiparisAnonimlestirRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SiparisAnonimlestirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SiparisAnonimlestirResult" nillable="true" type="q83:SiparisAnonimlestirResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMarketplaceAreas">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="request" nillable="true" type="q84:UpdateMarketPlaceAreasRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateMarketplaceAreasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="UpdateMarketplaceAreasResult" nillable="true" type="q85:UpdateMarketPlaceAreasResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSiparisFaturaUrl">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="request" nillable="true" type="q86:SetSiparisFaturaUrlRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetSiparisFaturaUrlResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="SetSiparisFaturaUrlResult" nillable="true" type="q87:SetSiparisFaturaUrlResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarketplaceParamsIslem">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UyeKodu" nillable="true" type="xs:string" />
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/" minOccurs="0" name="request" nillable="true" type="q88:MarketPlaceParamsRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarketplaceParamsIslemResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MarketplaceParamsIslemResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>